<Configuration status="INFO">

    <Properties>
        <Property name="log.dir">D:\respository_code\resp_github\Kern-demo\demo-slf4j-log4j2\src\main\resources\logs</Property>
    </Properties>

    <Appenders>
<!--        控制台-->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n"/>
        </Console>
<!--        文件-->
        <File name="file" fileName="${log.dir}/log4j2.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n"/>
<!--            只输出warn及以上的日志-->
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
        </File>
<!--        滚动文件-->
        <RollingFile name="rollingFile" filePattern="${log.dir}/%d{yyyy-MM}/log4j2-%d{yyyy-MM-dd}.log">
<!--            只输出info 及以上的日志-->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>